@{
    //Layout = "_OrcPubLayout";
}

<link rel="stylesheet" href="~/css/style.css" />

<h2></h2>
<div class="tab">
    <button id="raceTab" class="tablinks" onclick="openTab(event, 'Race')">Race / Gender</button>
    <button class="tablinks" onclick="openTab(event, 'Attribute')">Attribute Scores</button>
    <button class="tablinks" onclick="openTab(event, 'Background')">Background</button>
    <button class="tablinks" onclick="openTab(event, 'Class')">Class</button>
    <button class="tablinks" onclick="openTab(event, 'Proficiencies')">Proficiencies</button>
    <button style="float: right" onclick="createChar()" class="button-add button-add1 createButton">
        Create Character    <span style="color: green" class="glyphicon glyphicon-plus-sign"></span>
    </button>
</div>

<div id="Race" class="tabcontent">
    <!--Race selection panel-->
    <div style="transform: translateX(25px)">
        <h3>Race</h3>
        <div class="row">
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="dragornborn">Dragonborn</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="dwarf">Dwarf</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="elf">Elf</button>
        </div>
        <div class="row">
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="gnome">Gnome</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="half-elf">Half-Elf</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="half-orc">Half-Orc</button>
        </div>
        <div class="row">
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="halfling">Halfling</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="human">Human</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-race')" value="tiefling">Tiefling</button>
        </div>
    </div>
    <!--Gender selection panel-->
    <div style="transform: translateX(25px)">
        <h3>Gender</h3>
        <div class="row">
            <button class="button-normal" onclick="highlight(event, ' button-highlight-gender')"value="male">Male</button>
            <button class="button-normal" onclick="highlight(event, ' button-highlight-gender')"value="female">Female</button>
        </div>
    </div>
</div>
<div id="Attribute" class="tabcontent">
    <h3>Attribute Scores</h3>
    <div class="column" style="transform: translateX(25px)" )>
        <div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Strength</h3>
                <button class="button-normal"><div id="strButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="strAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="strPoint">8</h3>
                <button id="strAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Dexterity</h3>
                <button class="button-normal"><div id="dexButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="dexAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="dexPoint">8</h3>
                <button id="dexAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Constitution</h3>
                <button class="button-normal"><div id="conButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="conAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="conPoint">8</h3>
                <button id="conAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Intelligence</h3>
                <button class="button-normal"><div id="intButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="intAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="intPoint">8</h3>
                <button id="intAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Wisdom</h3>
                <button class="button-normal"><div id="wisButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="wisAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="wisPoint">8</h3>
                <button id="wisAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
            <div class="row">
                <h3 style="width: 200px; transform: translateX(10px)">Charisma</h3>
                <button class="button-normal"><div id="chaButton" style="height:10px; overflow: hidden; width: 53.3%; background-color: lightgreen"></div></button>
                <button id="chaAttribPlus" class="AttribPlus btn btn-link"><span class="glyphicon glyphicon-plus-sign"></span></button>
                <h3 id="chaPoint">8</h3>
                <button id="chaAttribMinus" class="AttribMinus btn btn-link"><span class="glyphicon glyphicon-minus-sign"></span></button>
            </div>
        </div>
    </div>
</div>

<div id="Background" class="tabcontent">
    <div class="row">
        <!--Race selection panel-->
        <div class="column" style="transform: translateX(40px)">
            <h3>Background</h3>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Spirit Reaver</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Far Traveler</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Bounty Hunter</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Archaeologist</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Urchin</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Soldier</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Sailor</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Sage</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Outlander</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Noble</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Hermit</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Guild Artisan</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Folk Hero</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Entertainer</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-background')">Criminal</button>
            </div>
            <div class="row">
                <button style="transform: translateX(105px)" class="button-normal" onclick="highlight(event, ' button-highlight-background')">Charlatan</button>
                <button style="transform: translateX(105px)" class="button-normal" onclick="highlight(event, ' button-highlight-background')">Acolyte</button>
            </div>
        </div>
    </div>
</div>

<div id="Class" class="tabcontent">
    <div class="row">
        <!--Race selection panel-->
        <div class="column" style="transform: translateX(40px)">
            <h3>Class</h3>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Barbarian</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Bard</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Cleric</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Druid</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Fighter</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Monk</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Paladin</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Ranger</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Rogue</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Sorcerer</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Warlock</button>
                <button class="button-normal" onclick="highlight(event, ' button-highlight-class')">Wizard</button>
            </div>
        </div>
    </div>
</div>

<div id="Proficiencies" class="tabcontent">
    <div class="row">
        <!--Race selection panel-->
        <div class="column" style="transform: translateX(40px)">
            <h3>Porificiencies</h3>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Arcana</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">History</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Investigation</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Nature</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Religion</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">AnimalHandling</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Insight</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Medicine</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Perception</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Deception</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Intimidation</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Performance</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Persuasion</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Athletics</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Acrobatics</button>
            </div>
            <div class="row">
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">SleightOfHand</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Stealth</button>
                <button class="button-normal" onclick="highlight2Buttons(event, ' button-highlight-prof')">Initiative</button>
            </div>
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="~/js/CharacterBuilder.js"></script>
<script src="~/js/scripts.js"></script>
<script>
    document.getElementById('raceTab').click();
</script>